@import "../../../assets/scss/colors.module.scss";

.contactContainer {
  margin-top: 3em;
  display: block;

  & > * {
    width: 100%;
    text-align: right;
    margin-left: auto;
  }

  a {
    color: $black;
    margin-left: 1em;
    transition: all 0.1s;

    &:hover {
      color: $dark-grey;
    }
  }
}
